.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-inner{
    height: 650px;   
}
.carousel-inner img{
    margin-top: -120px;
}
.carousel-inner .display-4{
    margin-top: -490px;
}
.carousel-inner hr{
    border-color: rgb(248, 117, 66);
    width: 70px;
    border-width: 3px;
}
.carousel-inner .btn{
    background-color: rgb(248, 117, 66);
    border: none;
    border-radius: 10px;
    padding-right: 25px;
    padding-left: 25px;
}
footer {
    padding: 5px 0;
    background-color: rgb(207, 123, 26);
    color: #fff;
    text-align: center;
}
