.container img{
    height: auto !important;
}
img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    border-style: none;
}
.page-profile-top .logo{
    text-align: center;
    padding: 1rem 0 1rem 0;
}
p{
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}
footer {
    padding: 5px 0;
    background-color:rgb(207, 123, 26);
    color: #fff;
    text-align: center;
}
body {
    background-color: rgb(247, 217, 181);
}